.personDetails {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #3498db;
  }
  .detailsContainer {
    text-align: center;

    .detail {
      color: #b30000;
    }
  }
}
