.analyticsTitle {
  color: #0070f3;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.analyticsBackButton {
  padding: 25px;
  margin: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
